@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #1E1B4B;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-[#f8f9fb] text-[#1E1B4B] font-sans;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
